/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #FFFFFF; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #908C4C; }
a:visited { color: #EF9352; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



/* ===== Primary Styles ========================================================
   Author: Leonard Challis
   ========================================================================== */
body {
  font-family: 'Karla', sans-serif;
  background: url(../img/bg.jpg) repeat;
}

header {
  width: 980px;
  margin: 0 auto;
}

header nav#main ul li {
  float: left;
  margin: 0;
  width: 120px;
  height: 24px;
  background: url(../img/nav-bg.png) repeat-x;
}

header nav#main ul li.one {
  background-color: #EB7A2A;
}

header nav#main ul li.two {
  background-color: #CE6518;
}

header nav#main ul li.three {
  background-color: #C1B261;
}

header nav#main ul li.four {
  background-color: #908C4C;
}

header nav#main ul li.five {
  background-color: #568F57;
  width: 100px;
}

header nav#main ul li.six {
  background-color: #307B6E;
  width: 125px;
}

header nav#main ul li.seven {
  background-color: #1F6177;
  width: 155px;
}

header nav#main ul li.eight {
  background-color: #104882;
  width: 120px;
}

header nav#main ul li a {
  margin: 0 0 0 5px;
  text-decoration: none;
  color: #FFFFFF;
  text-transform: capitalize;
  text-shadow: 2px 2px 2px #000000;
}

header nav#main ul li a:hover {
  color: #CCCCCC;
  text-shadow: none;
}

header section {
  height: 250px;
  width: 100%;
  background: url(../img/map.jpg) no-repeat;
  display: block;
}

header section a#logo {
  margin: 40px 0 0 40px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
}

header section a#logo span.title, header section a#logo span.sub-title {
  width: 160px;
  clear: both;
  display: block;
  line-height: 0.9em;
  text-align: center;
}

header section a#logo span.title {
  font-weight: bold;
  font-size: 18px;
}

header section a#logo span.sub-title {
  font-size: 13px;
}

header nav#sub {
  width: 100%;
  height: 50px;
  background-color: #343434;
}

header nav#sub ul li {
  float: left;
  margin: 5px 0 0 30px;
}

header nav#sub ul li a {
  color: #FFFFFF;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 14px;
  letter-spacing: 0.2em;
}

header nav#sub ul li a span {
  font-size: 24px;
  margin: 0;
  clear: both;
  line-height: 0.3em;
  display: block;
}

header nav#sub ul li a:hover {
  color: #1C80E3;
}

/*
  Slideshow
*/

section#slideshow {
  width: 76%;
  height: 330px;
  /*background-color: #FFFFFF;*/
  padding: 20px 0;
  margin-left: 154px;
}
section div#slides-wrapper {
  width:900px;
  padding:10px;
  margin:0 auto;
  position:relative;
  z-index:0;
}

#frame {
  position:absolute;
  z-index:0;
  width:739px;
  height:341px;
  top:-3px;
  left:-80px;
}

/*
  Slideshow
*/

#slides {
  position:absolute;
  top:15px;
  left:4px;
  z-index:100;
}

.slides_container {
  width:890px;
  overflow:hidden;
  position:relative;
  display:none;
}

.slides_container a {
  width:890px;
  height:270px;
  display:block;
}

.slides_container div.content-slide {
  background: url(../img/bg.jpg) repeat;
  width:850px;
  height:230px;
  padding: 20px;
  display:block;
}

.slides_container a img {
  display:block;
}

#slides .next,#slides .prev {
  position:absolute;
  top:107px;
  left:-39px;
  width:24px;
  height:43px;
  display:block;
  z-index:101;
}

#slides .next {
  left:905px;
}

.pagination {
  margin:26px auto 0;
  width:100px;
}

.pagination li {
  float:left;
  margin:0 1px;
  list-style:none;
}

.pagination li a {
  display:block;
  width:12px;
  height:0;
  padding-top:12px;
  background-image:url(../img/pagination.png);
  background-position:0 0;
  float:left;
  overflow:hidden;
}

.pagination li.current a {
  background-position:0 -12px;
}

/* main content */
div#content-wrapper {
  background: url(../img/main-bg.jpg) repeat;
  width: 940px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Main */
div[role='main'] {
  width: 940px;
  padding: 40px 0 50px 0;
  margin: 0 auto;
  background: url(../img/footer-bg.png) bottom repeat-x;
}

div[role='main'] section {
  float: left;
  width: 560px;
}

div[role='main'] h1, div[role='main'] h2, div[role='main'] h3 {
  color: white;
  text-shadow: 2px 2px 2px #000000;
  font-weight: normal;
  margin-bottom: 20px;
}

div[role='main'] h1 {
  font-size: 36px;
}

div[role='main'] h2 {
  font-size: 30px;
}

div[role='main'] h3 {
  font-size: 26px;
}

div[role='main'] section ul#video-thumbnails {
  padding: 0;
  margin: 0 0 20px 0;
  list-style-type: none;
}

div[role='main'] section ul#video-thumbnails li {
  float: left;
  border: 1px solid #FFFFFF;
  margin: 0 5px;
  padding: 0;
}

div[role='main'] section ul#video-thumbnails li a {
  display: block;
}

div[role='main'] aside {
  float: right;
  width: 340px;
}

div[role='main'] aside ul#social {
  list-style-type: none;
  padding: 0;
}

div[role='main'] aside ul#social li {
  float: left;
  margin: 0 10px 0 0;
}

article footer {
	padding: 0px 0;
}

/* Footer */

footer {
  width: 940px;
  margin: 0 auto;
  padding: 30px 0;
  font-size: 14px;
}

footer h4 {
  font-style: italic;
  margin: 0 0 10px 0;
  font-size: 16px;
}

footer p {
  margin: 8px 0 12px 0;
  color: #D5D5D5;
}

footer>div {
  margin-bottom: 10px;
}

footer div#about {
  float: left;
  width: 280px;
  margin-right: 30px;
}

footer div#contact {
  float: left;
  width: 230px;
}

footer div#links {
  float: right;
  width: 390px;
}

footer div#logos {
  float: right;
  width: 650px;
}

footer div#links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer div#links ul li {
  float: left;
}

footer nav {
  clear: both;
  border-top: 1px solid #555555;
  padding-top: 10px;
}

footer nav ul li {
  float: left;
  margin-right: 20px;
}

footer nav ul li a, footer nav ul li a:visited {
  color: #CCCCCC;
  text-decoration: none;
  font-size: 20px;
}

footer nav ul li a:hover {
  color: #0066EE;
}

footer nav p {
  float: right;
}

#twitter ul {
	padding: 0px;
}


/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
